{% if object.isLocked() %}
    {% set route = admin.generateObjectUrl('unlock', object) %}
    {% set name = "unlock" %}
{% else %}
    {% set route = admin.generateObjectUrl('lock', object) %}
    {% set name = "lock" %}
{% endif %}

<a class="btn btn-sm btn-default" href="{{ route }}">
    <i class="fa fa-{{ name }}"></i>
    {{ name|capitalize }}
</a>