<div class="page-sidebar" data-pages="sidebar">

  <div id="appMenu" class="sidebar-overlay-slide from-top">
  </div>

  <div class="sidebar-header">
    <img src="<%= image_path 'logo_website_white.png' %>" alt="logo" class="brand" data-src="<%= image_path 'logo_website_white.png' %>" data-src-retina="<%= image_path 'logo_website_white_x2.png' %>" width="78" height="22">
    <div class="sidebar-header-controls">
      <button data-pages-toggle="#appMenu" class="btn btn-xs sidebar-slide-toggle btn-link m-l-20" type="button"><i class="fa fa-angle-down fs-16"></i>
      </button>
      <button data-toggle-pin="sidebar" class="btn btn-link visible-lg-inline" type="button"><i class="fa fs-12"></i>
      </button>
    </div>
  </div>

  <div class="sidebar-menu">

    <%= render_navigation %>

  </div>

</div>