<div class="full-height">
  <div class="container-sm-height full-height">
    <div class="row row-sm-height">
      <div class="col-sm-12 col-sm-height col-middle text-center">
        <h1><%= t 'welcome.account_locked.heading' %></h1>
        <p><%= t 'welcome.account_locked.verifying' %></p>
        <%= link_to t('welcome.account_locked.return_to_homepage'), root_path %>
      </div>
    </div>
  </div>
</div>