<article id="welcome">
  <figure class="mobile-c"><img src="http://placehold.it/352x628" alt="Placeholder" width="352" height="628"></figure>
  <h2><%= t 'frontend.columbasms' %></h2>
  <p><%= t 'frontend.motto' %></p>
  <ul class="download-a a">
    <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
  </ul>
</article>
<section id="content" class="a">
  <article>
    <header class="heading-a">
      <h3><span class="small">About</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
    </header>
    <ul class="list-a">
      <li><a href="./"><i class="icon-basic" data-icon="6"></i> <span class="title">Support</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</a></li>
      <li><a href="./"><i class="icon-basic" data-icon="&#xe014;"></i> <span class="title">Multi-device</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</a></li>
      <li><a href="./"><i class="icon-basic" data-icon="}"></i> <span class="title">Updates</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</a></li>
    </ul>
    <header class="heading-a">
      <h3><span class="small">Team</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>See what’s included in the App</p>
    </header>
    <ul class="gallery-b b">
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
        </div>
      </li>
    </ul>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">Team</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <ul class="gallery-b a">
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
      <li><a href="./"><img src="http://placehold.it/300" alt="Placeholder" width="300" height="300"> </a>
        <div>
          <h4><span>John Smith</span> digital designer</h4>
          <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat.</p>
        </div>
      </li>
    </ul>
  </article>
  <article class="module-a va">
    <header class="heading-a a">
      <h3><span class="small">Features us</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
    </header>
    <figure class="sticky-b"><img src="<%= image_path 'frontend/temp/a.png' %>" alt="Placeholder" width="516" height="790"></figure>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">More features</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <ol class="list-b b">
      <li class="mobile-g"><img src="http://placehold.it/530x300" alt="Placeholder" width="530" height="300"></li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
      <li><span class="title">Lorem ipsum</span> Consectetuer adipiscing elit, sed diam nonummy</li>
    </ol>
  </article>
  <article class="vb">
    <header class="heading-a">
      <h3><span class="small">Testimonials</span> <span class="strong">Review</span> of customers</h3>
    </header>
    <ul class="slider-a">
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157"><span class="title"><span>John Smith</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157"><span class="title"><span>John Smith</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157"><span class="title"><span>John Smith</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
      <li><img src="http://placehold.it/157x157" alt="Placeholder" width="157" height="157"><span class="title"><span>John Smith</span> Digital Designer</span> Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam eratvo lutpat. Ut wisi enim ad minim veniam, quis nostrud v</li>
    </ul>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">Screens</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>See what’s included in the App</p>
    </header>
    <ul class="slider-b">
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
      <li><img src="http://placehold.it/320x568" alt="Placeholder" width="320" height="568"></li>
    </ul>
  </article>
  <article class="va">
    <header class="heading-a">
      <h3><span class="small">Zoom</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <figure class="zoomin"><img src="http://placehold.it/2200x1100" alt="Placeholder" width="1100" height="550"></figure>
  </article>
  <article class="vid">
    <header class="heading-a">
      <h3><span class="small">Demo</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <figure><a href="http://vimeo.com/47480346"><img src="http://placehold.it/1400x655" alt="Placeholder" width="1400" height="655"></a></figure>
  </article>
  <article>
    <header class="heading-a">
      <h3><span class="small">Portfolio</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>See what’s included in the App</p>
    </header>
    <ul class="gallery-a">
      <li><a href="./"><img src="http://placehold.it/328x311" alt="Placeholder" width="328" height="311"> <span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
      <li><a href="./"><img src="http://placehold.it/328x311" alt="Placeholder" width="328" height="311"> <span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
      <li><a href="./"><img src="http://placehold.it/328x311" alt="Placeholder" width="328" height="311"> <span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
      <li><a href="./"><span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
      <li><a href="./"><img src="http://placehold.it/328x311" alt="Placeholder" width="328" height="311"> <span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
      <li><a href="./"><img src="http://placehold.it/328x311" alt="Placeholder" width="328" height="311"> <span><span class="strong">Lorem ipsum dolor</span> sit amet agora net <span class="date">2 month ago</span></span></a></li>
    </ul>
  </article>
  <article class="va">
    <header class="heading-a">
      <h3><span class="strong">Subscribe</span> to our newsletter</h3>
    </header>
    <form action="./" method="post" class="form-b">
      <fieldset>
        <p>
          <label for="fba">Email_</label>
          <input type="email" id="fba" name="fba" required>
          <button type="submit">Submit</button>
        </p>
        <p class="scheme-b">If you want to receive updates from us just pop your email in the box. We think that spam is for jerks. And jerks we are not</p>
      </fieldset>
    </form>
  </article>
  <article class="vb tweets">
    <header class="heading-a tw">
      <h3>Latest from <span class="strong">Twitter</span></h3>
    </header>
    <ul class="slider-a" id="twitter">
    </ul>
  </article>
  <article id="contact">
    <header class="heading-a">
      <h3><span class="small">Contact us</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
    </header>
    <form action="./" method="post" id="ajax-form-send">
      <fieldset>
        <p>
          <label for="ca">Name_</label>
          <input type="text" id="ca" name="ca" required>
        </p>
        <p>
          <label for="cb">Email_</label>
          <input type="email" id="cb" name="cb" required>
        </p>
        <p>
								<span>
									<label for="cc">Phone Number_</label>
									<input type="tel" id="cc" name="cc">
								</span>
								<span>
									<label for="cd" class="hidden">Country_</label>
									<select id="cd" name="cd">
                    <option selected disabled>Country</option>
                    <option>Afghanistan</option>
                    <option>Albania</option>
                    <option>Algeria</option>
                    <option>Andorra</option>
                    <option>Angola</option>
                    <option>Antigua and Barbuda</option>
                    <option>Argentina</option>
                    <option>Armenia</option>
                    <option>Aruba</option>
                    <option>Australia</option>
                    <option>Austria</option>
                    <option>Azerbaijan</option>
                    <option>Bahamas, The</option>
                    <option>Bahrain</option>
                    <option>Bangladesh</option>
                    <option>Barbados</option>
                    <option>Belarus</option>
                    <option>Belgium</option>
                    <option>Belize</option>
                    <option>Benin</option>
                    <option>Bhutan</option>
                    <option>Bolivia</option>
                    <option>Bosnia and Herzegovina</option>
                    <option>Botswana</option>
                    <option>Brazil</option>
                    <option>Brunei</option>
                    <option>Bulgaria</option>
                    <option>Burkina Faso</option>
                    <option>Burma</option>
                    <option>Burundi</option>
                    <option>Cambodia</option>
                    <option>Cameroon</option>
                    <option>Canada</option>
                    <option>Cape Verde</option>
                    <option>Central African Republic</option>
                    <option>Chad</option>
                    <option>Chile</option>
                    <option>China</option>
                    <option>Colombia</option>
                    <option>Comoros</option>
                    <option>Congo, Democratic Republic of the</option>
                    <option>Congo, Republic of the</option>
                    <option>Costa Rica</option>
                    <option>Cote d'Ivoire</option>
                    <option>Croatia</option>
                    <option>Cuba</option>
                    <option>Curacao</option>
                    <option>Cyprus</option>
                    <option>Czech Republic</option>
                    <option>Denmark</option>
                    <option>Djibouti</option>
                    <option>Dominica</option>
                    <option>Dominican Republic</option>
                    <option>East Timor</option>
                    <option>Ecuador</option>
                    <option>Egypt</option>
                    <option>El Salvador</option>
                    <option>Equatorial Guinea</option>
                    <option>Eritrea</option>
                    <option>Estonia</option>
                    <option>Ethiopia</option>
                    <option>Fiji</option>
                    <option>Finland</option>
                    <option>France</option>
                    <option>Gabon</option>
                    <option>Gambia, The</option>
                    <option>Georgia</option>
                    <option>Germany</option>
                    <option>Ghana</option>
                    <option>Greece</option>
                    <option>Grenada</option>
                    <option>Guatemala</option>
                    <option>Guinea</option>
                    <option>Guinea-Bissau</option>
                    <option>Guyana</option>
                    <option>Haiti</option>
                    <option>Holy See</option>
                    <option>Honduras</option>
                    <option>Hong Kong</option>
                    <option>Hungary</option>
                    <option>Iceland</option>
                    <option>India</option>
                    <option>Indonesia</option>
                    <option>Iran</option>
                    <option>Iraq</option>
                    <option>Ireland</option>
                    <option>Israel</option>
                    <option>Italy</option>
                    <option>Jamaica</option>
                    <option>Japan</option>
                    <option>Jordan</option>
                    <option>Kazakhstan</option>
                    <option>Kenya</option>
                    <option>Kiribati</option>
                    <option>Korea, North</option>
                    <option>Korea, South</option>
                    <option>Kosovo</option>
                    <option>Kuwait</option>
                    <option>Kyrgyzstan</option>
                    <option>Laos</option>
                    <option>Latvia</option>
                    <option>Lebanon</option>
                    <option>Lesotho</option>
                    <option>Liberia</option>
                    <option>Libya</option>
                    <option>Liechtenstein</option>
                    <option>Lithuania</option>
                    <option>Luxembourg</option>
                    <option>Macau</option>
                    <option>Macedonia</option>
                    <option>Madagascar</option>
                    <option>Malawi</option>
                    <option>Malaysia</option>
                    <option>Maldives</option>
                    <option>Mali</option>
                    <option>Malta</option>
                    <option>Marshall Islands</option>
                    <option>Mauritania</option>
                    <option>Mauritius</option>
                    <option>Mexico</option>
                    <option>Micronesia</option>
                    <option>Moldova</option>
                    <option>Monaco</option>
                    <option>Mongolia</option>
                    <option>Montenegro</option>
                    <option>Morocco</option>
                    <option>Mozambique</option>
                    <option>Namibia</option>
                    <option>Nauru</option>
                    <option>Nepal</option>
                    <option>Netherlands</option>
                    <option>Netherlands Antilles</option>
                    <option>New Zealand</option>
                    <option>Nicaragua</option>
                    <option>Niger</option>
                    <option>Nigeria</option>
                    <option>North Korea</option>
                    <option>Norway</option>
                    <option>Oman</option>
                    <option>Pakistan</option>
                    <option>Palau</option>
                    <option>Palestinian Territories</option>
                    <option>Panama</option>
                    <option>Papua New Guinea</option>
                    <option>Paraguay</option>
                    <option>Peru</option>
                    <option>Philippines</option>
                    <option>Poland</option>
                    <option>Portugal</option>
                    <option>Qatar</option>
                    <option>Romania</option>
                    <option>Russia</option>
                    <option>Rwanda</option>
                    <option>Saint Kitts and Nevis</option>
                    <option>Saint Lucia</option>
                    <option>Saint Vincent and the Grenadines</option>
                    <option>Samoa</option>
                    <option>San Marino</option>
                    <option>Sao Tome and Principe</option>
                    <option>Saudi Arabia</option>
                    <option>Senegal</option>
                    <option>Serbia</option>
                    <option>Seychelles</option>
                    <option>Sierra Leone</option>
                    <option>Singapore</option>
                    <option>Sint Maarten</option>
                    <option>Slovakia</option>
                    <option>Slovenia</option>
                    <option>Solomon Islands</option>
                    <option>Somalia</option>
                    <option>South Africa</option>
                    <option>South Korea</option>
                    <option>South Sudan</option>
                    <option>Spain</option>
                    <option>Sri Lanka</option>
                    <option>Sudan</option>
                    <option>Suriname</option>
                    <option>Swaziland</option>
                    <option>Sweden</option>
                    <option>Switzerland</option>
                    <option>Syria</option>
                    <option>Taiwan</option>
                    <option>Tajikistan</option>
                    <option>Tanzania</option>
                    <option>Thailand</option>
                    <option>Timor-Leste</option>
                    <option>Togo</option>
                    <option>Tonga</option>
                    <option>Trinidad and Tobago</option>
                    <option>Tunisia</option>
                    <option>Turkey</option>
                    <option>Turkmenistan</option>
                    <option>Tuvalu</option>
                    <option>Uganda</option>
                    <option>Ukraine</option>
                    <option>United Arab Emirates</option>
                    <option>United Kingdom</option>
                    <option>Uruguay</option>
                    <option>Uzbekistan</option>
                    <option>Vanuatu</option>
                    <option>Venezuela</option>
                    <option>Vietnam</option>
                    <option>Yemen</option>
                    <option>Zambia</option>
                    <option>Zimbabwe</option>
                  </select>
								</span>
        </p>
        <p>
          <label for="ce">Message</label>
          <textarea id="ce" name="ce" required></textarea>
        </p>
        <p><button type="submit">Send</button></p>
      </fieldset>
    </form>
  </article>
  <article class="va">
    <header class="heading-a">
      <h3><span class="small">Plans</span> <span class="strong">Lorem ipsum</span> dolor sit amet</h3>
      <p>Prices for every pocket</p>
    </header>
    <ul class="list-c">
      <li class="a">
        <span>Trial <span>free</span></span>
        <ul>
          <li>60 day free trial</li>
          <li>Functional Offline</li>
          <li>Synced to cloud database</li>
          <li>Unlimited Bottles</li>
        </ul>
        <a href="./">Register</a>
      </li>
      <li class="b">
        <span>Monthly <span>$10</span></span>
        <ul>
          <li>60 day free trial</li>
          <li>Functional Offline</li>
          <li>Synced to cloud database</li>
          <li>Unlimited Bottles</li>
        </ul>
        <a href="./">Register</a>
      </li>
      <li class="c">
        <span>Yearly <span>$80</span></span>
        <ul>
          <li>60 day free trial</li>
          <li>Functional Offline</li>
          <li>Synced to cloud database</li>
          <li>Unlimited Bottles</li>
        </ul>
        <a href="./">Register</a>
      </li>
    </ul>
  </article>
  <article class="vb">
    <header class="heading-a b">
      <h3><span class="strong">Get</span> app</h3>
      <p>Choose your native platform and get started!</p>
    </header>
    <ul class="download-a a">
      <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
    </ul>
    <figure class="sticky-c"><img src="<%= image_path 'frontend/temp/b.png' %>" alt="Placeholder" width="866" height="574"></figure>
    <p class="counter"><span>0238</span> Downloads</p>
  </article>
</section>