<aside>
  <!--ACTIVE switch-->

  <nav class="nav-a">
    <!--ORGANITATIONS-->
    <h3><%= t 'frontend.categories' %></h3>
  </nav>

  <nav class="nav-a nav-a-new2">
    <!--TOPICS-->
    <h3><%= t 'frontend.tags' %></h3>
    <ul>
    </ul>
  </nav>
</aside>