{% extends "::base.html.twig" %}

{% block title %}New campaign{% endblock %}

{% block body %}

    <div class="col-md-6 col-center">
        <div class="panel panel-default">

            <div class="panel-heading">
                <div class="panel-title">
                    New campaign
                </div>
            </div>

            <div class="panel-body">
                <h5>Create a new campaign</h5>

                <form action="{{ url('campaign_new') }}" method="post" role="form">

                    <div class="form-group form-group-default required">
                        <label for="message">Message</label>
                        <input id="message" name="message" type="text" class="form-control" required/>
                    </div>

                    <button class="btn btn-primary btn-cons m-t-10" type="submit">Send</button>

                </form>
            </div>

        </div>
    </div>

{% endblock %}
