{% extends 'AdminBundle:Block:block_base.html.twig' %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

{% block block_title %} <i class="fa fa-users"></i> {{ settings.title }} {% endblock %}

{% block block_body %}

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Phone Number</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ url('admin_app_client_show', { 'id': client.getId() }) }}">{{ client.getPhoneNumber() }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block block_footer %}

    <a href="{{ url('admin_app_client_list') }}" class="btn btn-primary btn-block"><i class="fa fa-list"></i> View all Clients</a>

{% endblock %}