<% title t('destroyed.title') %>

<% content_for :h3 do %><%= t 'destroyed.title' %><% end %>

<p><%= t 'destroyed.number_deactivated' %></p>

<%= link_to t('welcome.account_locked.return_to_homepage'), root_path %>