<% content_for :title do %><%= t 'unblacklist.title' %><% end %>

<% content_for :h3 do %><%= t 'unblacklist.title' %><% end %>

<p><%= t 'unblacklist.number_reactived' %></p>

<%= link_to t('welcome.account_locked.return_to_homepage'), root_path %>