//= require jquery.jcrop
//= require papercrop

$('#avatar-upload').click(function() {
    $('#avatar-input').click();
});

$('#cover-upload').click(function() {
    $('#cover-input').click();
});

function readURL(input, type) {

    if (input.files && input.files[0]) {
        var file = input.files[0];

        if ((/\.(png|jpeg|jpg|gif)$/i).test(file.name)) {
            $('#hint-text').html('<%= I18n.t 'uploading' %>... <span id="upload-percentage">0%</span>');
            $('#modal-crop').modal();
            $('.progress-panel').show();

            var formData = new FormData();
            formData.append('organization[' + type + ']', file);
            formData.append('organization[type]', type);
            formData.append('touch', Modernizr.touch);

            $.ajax({
                url: ('/organizations/' + organization_id + '/upload'),
                type: 'POST',
                xhr: function() {  // Custom XMLHttpRequest
                    var myXhr = $.ajaxSettings.xhr();
                    if(myXhr.upload){ // Check if upload property exists
                        myXhr.upload.addEventListener('progress', function(e) {
                            if(e.lengthComputable){
                                var percent = parseInt((e.loaded / e.total) * 100);
                                updateProgress(percent);
                            }
                        }, false); // For handling the progress of the upload
                    }
                    return myXhr;
                },

                success: function(e) {
                    if (Modernizr.touch) {
                        if (type == 'avatar') {
                            $('#avatar-preview').attr('src', e.avatar);
                        } else {
                            $('#cover-preview').attr('src', e.cover);
                        }
                        updateProgress(0);
                        $('.progress-panel').hide();
                        $('#modal-crop').modal('toggle');
                    } else {
                        $('#hint-text').html('<%= I18n.t 'processing' %>...');
                        $('#modal-crop .panel-body .progress-panel').after(e).ready(function() {
                            var $imgs = $('#modal-crop img');
                            var count = $imgs.length;
                            var load = 0;
                            $imgs.on('load', function() {
                                load++;
                                if (load == count) {
                                    $('.progress-panel').hide();
                                    updateProgress(0);
                                    $('#crop-form').show();
                                }
                            }).each(function() {
                                if(this.complete) $(this).trigger("load");
                            });
                        });
                    }
                },

                error: function(e) {
                    console.log(e);
                    updateProgress(0);
                    $('.progress-panel').hide();
                    $('#modal-crop').modal('toggle');

                },
                // Form data
                data: formData,

                cache: false,
                contentType: false,
                processData: false
            });
        } else {
            alert('<%= I18n.t 'file_format_not_valid' %>');
        }
    }
}

$("#avatar-input").change(function(){
    readURL(this, 'avatar');
});

$('#cover-input').change(function() {
    readURL(this, 'cover');
});

function updateProgress(progress) {
    $('#upload-progress').css('width', progress + '%');
    $('#upload-percentage').text(progress + '%');
}