#nav > ul > li, #clone nav > ul > li {
    position: relative;
    float: left;
    padding: 0 0 0 15px;
    font-size: 1.4em;
    font-weight: 700;
    text-transform: uppercase;
}

#nav > ul > li > ul, #clone nav > ul > li > ul {
    position: absolute;
    left: 15px;
    top: -3000em;
    list-style: none;
    width: 180px;
    margin: 0;
    padding: 5px 0;
    background: #fff;
    font-weight: 400;
}