<% content_for :title do %>Columba - New campaign<% end %>

<% content_for :application_js do %>
    <%= javascript_include_tag('application_form', 'data-turbolinks-track' => true) %>
<% end %>

<% content_for :application_css do %>
    <%= stylesheet_link_tag('application_form', 'data-turbolinks-track' => true) %>
<% end %>

<div class="col-md-12 col-center">
  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="panel-title">
        New campaign
      </div>
    </div>

    <div class="panel-body">
      <h5>Create a new campaign</h5>

      <%= render 'form' %>
    </div>

  </div>
</div>