.col-center {
    margin: 0 auto;
    float: none !important;
}

.avatar-form-control {
    visibility: hidden;
    width: 0;
    height: 0;
}

#campaigns-table thead th:nth-child(1) {
    width: 34%;
}
#campaigns-table thead th:nth-child(2) {
    width: 33%;
}
#campaigns-table thead th:nth-child(3) {
    width: 33%;
}