<footer id="footer">
  <figure><img src="<%= asset_path 'frontend/temp/placeholder-b.png' %>" alt="Placeholder" width="174" height="55"></figure>
  <h3><%= t 'frontend.follow_us' %></h3>
  <ul class="social-a">
    <li class="fb"><a rel="external" href="https://www.facebook.com/columbasms/">Facebook</a></li>
    <li class="tw"><a rel="external" href="https://twitter.com/ColumbaSms">Twitter</a></li>
    <li class="in"><a rel="external" href="https://www.instagram.com/columbasms/">Instagram</a></li>
  </ul>
  <ul class="download-a">
    <li class="gp"><a rel="external" target="_blank" href="https://play.google.com/store/apps/details?id=com.columbasms.columbasms">Get it on Google Play</a></li>
  </ul>
  <p>&copy; <span class="date">2016</span> Columba SMS. <%= t 'frontent.rights' %>.
</footer>